<!DOCTYPE html>
<html>

<head>
</head>

<body style="margin: 0; padding: 0;">
    <table style="width: 100%; color: #222426; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" border="0"
           cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table style="margin: 0px auto; width: 800px; text-align: left; font-size: 14px; border-collapse: collapse;page-break-after: always;"
                           cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div style="padding-top: 5px; padding-bottom: 10px; border-bottom: 1px solid #d0d8de;">
                                        <img class="title-icon" src="https://occdev0localdeployment.blob.core.windows.net/images/better-retail.png" alt="icon" />
                                    </div>
                                </td>
                            </tr>
                            <!-- //// -->
                            <!-- intro text -->
                            <tr>
                                <td style="padding: 20px 20px 36px; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                    <h1 style="font-size: 32px;">Hi {{Return.CustomerFirstName}} {{Return.CustomerLastName}},</h1>
                                    <p style="line-height: 20px;">This is a confirmation of the reception of your return request. You will be notified upon its treatment. </p>
                                    <p>You can review the details of that return request in the following email:</p>
                                </td>
                            </tr>
                            <!-- shipment info -->
                            <tr>
                                <td style="padding: 15px 20px;" colspan="2"><h1>Return Request Information</h1></td>
                            </tr>
                            <tr>
                                <td style="padding: 15px 20px; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                    <table style="width: 100%; font-size: 14px;" border="0" cellspacing="0"
                                           cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top;padding-bottom: 30px;padding-right: 40px;">

                                                    <p style="font-size: 20px; margin-bottom: 0px; margin-top: 0px;">
                                                        <strong>Return Request Number:</strong> {{Return.ReturnNumber}}
                                                    </p>
                                                    <p style="font-size: 20px; margin-bottom: 0px; margin-top: 5px;">
                                                        <strong>Associated Order Number:</strong> {{Return.OrderNumber}}
                                                    </p>
                                                    <p style="font-size: 20px; margin-top: 5px;">
                                                        <strong>Return Request Creation Date:</strong> {{Return.Created | localize_date: "en-CA","D"}}
                                                    </p>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- //// -->
                            <!-- Return summary -->
                            <tr>
                                <td style="padding: 15px 20px 60px;">
                                    <p style="font-size: 18px; margin-top: 0px;"><strong>Return details</strong></p>
                                    <table style="width: 100%; text-align: center; font-size: 14px; vertical-align: middle; border: 1px solid #eaeaea;"
                                           border="0" cellspacing="0" cellpadding="0">
                                        <thead style="background-color: #000000; color: #ffffff; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                            <tr>
                                                <th style="padding: 10px;" colspan="2">
                                                    <span style="font-weight: normal;">Product</span>
                                                </th>
                                                <th style="padding: 10px;" width="110">
                                                    <span style="font-weight: normal;">Unit Price</span>
                                                </th>
                                                <th style="padding: 10px;">
                                                    <span style="font-weight: normal;">Quantity</span>
                                                </th>
                                                <th style="padding: 10px;">
                                                    <span style="font-weight: normal;">Return Reason</span>
                                                </th>
                                                <th style="padding: 10px;" width="110">
                                                    <span style="font-weight: normal;text-align:right;">Sub-total</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--{% for item in Return.Items%}-->
                                            <tr>
                                                <!--<td style="border-bottom: 1px solid #e1e4ea; padding: 20px 0;"><img src="{{item.ImageURL}}" width="76" alt="product-image" style="display: block;" /></td>-->
                                                <td style="padding: 20px 0px 20px 10px; text-align: left; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;"
                                                    colspan="2">
                                                    <strong>{{item.ProductDisplayName}}</strong><br />
                                                    <!--{% for kva in item.KvaDisplayValues%}-->
                                                    <span>{{kva}}</span><br />
                                                    <!--{% endfor %}-->
                                                </td>
                                                <td style="padding: 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                    <strong>{{item.ProductPrice | money:"en-CA" }}</strong>
                                                </td>
                                                <td style="padding: 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                    <strong>{{item.Quantity}}</strong>
                                                </td>

                                                <td style="padding: 20px 10px 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                    <strong>{{item.ReturnReasonDisplayName| localize:"en-CA" }}</strong>
                                                </td>
                                                <td style="padding: 20px 10px 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;text-align:right;">
                                                    <strong>{{item.SubTotal | money:"en-CA" }}</strong>
                                                </td>
                                            </tr>
                                            <!--{% endfor %}-->
                                        </tbody>
                                        <tfoot style="text-align: right;">
                                            <tr>
                                                <td colspan="3">&nbsp;</td>
                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                    colspan="2">
                                                    <span style="text-transform: none;">
                                                        Merchandise total:
                                                    </span>
                                                </td>
                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                    <strong>{{ Return.TotalMerchandise | money:"en-CA" }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">&nbsp;</td>
                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                    colspan="2">
                                                    <span style="text-transform: none;">
                                                        Discount:
                                                    </span>
                                                </td>
                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                    <strong>{{ Return.TotalDiscount | money:"en-CA" }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">&nbsp;</td>
                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                    colspan="2">
                                                    Sub Total:
                                                </td>
                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                    <strong>{{ Return.TotalSubtotal | money:"en-CA" }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">&nbsp;</td>
                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                    colspan="2">
                                                    Tax Total:
                                                </td>
                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                    <strong>{{ Return.TotalTax | money:"en-CA" }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">&nbsp;</td>
                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                    colspan="2">
                                                    <strong style="font-size: 18px;">
                                                        Requested Refund Amount:
                                                    </strong>
                                                </td>
                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                    <strong style="font-size: 18px;">{{ Return.Total| money:"en-CA" }}</strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                            <!-- //// -->

                        </tbody>
                        <!-- footer -->
                        <tfoot style="background-color: #ffffff;">
                            <tr>
                                <td style="padding: 15px 20px; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                    <p>Please do not reply to this email message. It was sent from an address that cannot accept incoming email.</p>
                                    <p style="font-size: 12px;">&copy;Copyright {{Variables.CopyrightsYear}} {{Variables.CompanyName}}. All rights reserved.</p>
                            </tr>

                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>