<?xml version="1.0" encoding="utf-8"?>
<solrLib.connection xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <facets xdt:Transform="Replace">
    <facetTree name="Navigators">

      <field name="CategoryLevel1_Facet" facet.mincount="1" sort="Count">
        <title>
          <value culture="en-US">Categories</value>
          <value culture="en-CA">Categories</value>
          <value culture="fr-CA">Catégories</value>
          <value culture="fr-FR">Catégories</value>
        </title>
        <field name="CategoryLevel2_Facet" facet.mincount="1">
          <title>
            <value culture="en-US">Sub-categories</value>
            <value culture="en-CA">Sub-categories</value>
            <value culture="fr-CA">Sous-catégories</value>
            <value culture="fr-FR">Sous-catégories</value>
          </title>
          <field name="CategoryLevel3_Facet" facet.mincount="1">
            <title>
              <value culture="en-US">Sub-categories</value>
              <value culture="en-CA">Sub-categories</value>
              <value culture="fr-CA">Sous-catégories</value>
              <value culture="fr-FR">Sous-catégories</value>
            </title>
          </field>
        </field>
      </field>

      <field name="Brand" facet.mincount="1" lookup="Brand">
        <title>
          <value culture="en-CA">Brand</value>
          <value culture="en-US">Brand</value>
          <value culture="fr-CA">Marque</value>
          <value culture="fr-FR">Marque</value>
        </title>
      </field>

      <field name="Colour" facet.mincount="1" lookup="Colour">
        <title>
          <value culture="en-CA">Color</value>
          <value culture="en-US">Color</value>
          <value culture="fr-CA">Couleur</value>
          <value culture="fr-FR">Couleur</value>
        </title>
      </field>

      <field name="HeelsHeight" facet.mincount="1" lookup="HeelsHeight">
        <title>
          <value culture="en-CA">Height of heels</value>
          <value culture="en-US">Height of heels</value>
          <value culture="fr-CA">Taille des talons</value>
          <value culture="fr-FR">Taille des talons</value>
        </title>
      </field>

      <field name="RetailSize" facet.mincount="1" lookup="RetailSize">
        <title>
          <value culture="en-CA">RetailSize</value>
          <value culture="en-US">RetailSize</value>
          <value culture="fr-CA">Taille</value>
          <value culture="fr-FR">Taille</value>
        </title>
      </field>
      
      <field name="ShirtType" facet.mincount="1" lookup="ShirtType">
        <title>
          <value culture="en-CA">Type of shirt</value>
          <value culture="en-US">Type of shirt</value>
          <value culture="fr-CA">Type de chemise</value>
          <value culture="fr-FR">Type de chemise</value>
        </title>
      </field>

      <field name="ShoeType" facet.mincount="1" lookup="ShoeType">
        <title>
          <value culture="en-CA">Type of shoes</value>
          <value culture="en-US">Type of shoes</value>
          <value culture="fr-CA">Types de souliers</value>
          <value culture="fr-FR">Types de souliers</value>
        </title>
      </field>

      <range field="CurrentPrice" from="0" to="500" gap="10" after="true" facet.mincount="1">
        <title>
          <value culture="en-US">Price Range</value>
          <value culture="en-CA">Price Range</value>
          <value culture="fr-CA">Gamme de prix</value>
          <value culture="fr-FR">Gamme de prix</value>
        </title>
      </range>

    </facetTree>
    <facetTree name="Categories">
      <field id="ParentCategoryId" name="ParentCategoryId" />
      <field id="Category.Level1" name="CategoryLevel1_Facet">
        <field id="Category.Level2" name="CategoryLevel2_Facet" facet.mincount="1" sort="Index">
          <field id="Category.Level3" name="CategoryLevel3_Facet" facet.mincount="1" sort="Index" />
        </field>
      </field>
    </facetTree>
    <facetTree name="CategoryAutoSuggest">
      <field name="CategoryLevel1_Facet" facet.mincount="1" />
      <field name="CategoryLevel2_Facet" facet.mincount="1" />
      <field name="CategoryLevel3_Facet" facet.mincount="1" />
      <field name="CategoryLevel4_Facet" facet.mincount="1" />
      <field name="CategoryLevel5_Facet" facet.mincount="1" />
      <field name="CategoryLevel6_Facet" facet.mincount="1" />
      <field name="CategoryLevel7_Facet" facet.mincount="1" />
      <field name="CategoryLevel8_Facet" facet.mincount="1" />
      <field name="CategoryLevel9_Facet" facet.mincount="1" />
      <field name="CategoryLevel10_Facet" facet.mincount="1" />
    </facetTree>
    <facetTree name="BrandAutoSuggest">
      <field name="Brand" facet.mincount="1" sort="Count" />
    </facetTree>
  </facets>
</solrLib.connection>
