<!DOCTYPE html>
<html>

<head>
</head>

<!--{% assign templateCulture = "fr-CA" %}-->

<body style="margin: 0; padding: 0;">
    <table style="width: 100%; color: #222426; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" border="0"
           cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table style="margin: 0px auto; width: 800px; text-align: left; font-size: 14px; border-collapse: collapse;page-break-after: always;"
                           cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div style="padding-top: 5px; padding-bottom: 10px; border-bottom: 1px solid #d0d8de;">
                                        <img class="title-icon" src="https://occdev0localdeployment.blob.core.windows.net/images/better-retail.png" alt="icon" />
                                    </div>
                                </td>
                            </tr>
                            <!-- //// -->
                            <!-- intro text -->
                            <tr>
                                <td style="padding: 20px 20px 36px; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                    <h1>Bonjour {{OrderReturn.CustomerAddress.FirstName}} {{OrderReturn.CustomerAddress.LastName}},</h1>
                                    <p style="line-height: 20px;">Ceci est pour vous informer que votre requête de retour a été traitée. Un remboursement a été émis.  Un remboursement de {{ OrderReturn.TotalRefunded| money:templateCulture  }} a été autorisé. Le remboursement apparaîtra sur votre relevé d'ici 5 jours ouvrables.</p>
                                </td>
                            </tr>
                            <!-- shipment info -->
                            <tr>
                                <td style="padding: 15px 20px;" colspan="2"><h2>Informations de la requête de retour/h2></h2></td>
                            </tr>
                            <tr>
                                <td style="padding: 15px 20px; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                    <table style="width: 100%; font-size: 14px;" border="0" cellspacing="0"
                                           cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top;padding-bottom: 30px;padding-right: 40px;">
                                                    <p style="font-size: 16px; margin-bottom: 0px; margin-top: 0px;">
                                                        <strong>Statut du retour :</strong> {{OrderReturn.Status | localize_lookup: "order", "OrderReturnStatus", templateCulture}}
                                                    </p>
                                                    <p style="font-size: 16px; margin-bottom: 0px; margin-top: 5px;">
                                                        <strong>Numéro de la requête de retour :</strong>   {{OrderReturn.OrderReturnNumber}}
                                                    <p style="font-size: 16px; margin-bottom: 0px; margin-top: 5px;">
                                                        <strong>Numéro de la commande associée :</strong> {{OrderReturn.OrderNumber}}
                                                    </p>
                                                    <p style="font-size: 16px; margin-bottom: 0px; margin-top: 5px;">
                                                        <strong>Date de création de la requête de retour </strong> {{OrderReturn.Created | localize_date: templateCulture,"D"}}
                                                    </p>
                                                    <p style="font-size: 16px; margin-bottom: 0px; margin-top: 5px;">
                                                        <strong>Montant de la requête de retour :</strong> {{ OrderReturn.Total| money:templateCulture }}
                                                    </p>
                                                    <p style="font-size: 16px; margin-top: 5px;">
                                                        <strong>Montant remboursé :</strong> {{ OrderReturn.TotalRefunded| money:templateCulture }}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 15px 0 60px;">
                                                    <p style="font-size: 18px; margin-top: 0px;"><strong>Détails du retour</strong></p>
                                                    <table style="width: 100%; text-align: center; font-size: 14px; vertical-align: middle; border: 1px solid #eaeaea;"
                                                           border="0" cellspacing="0" cellpadding="0">
                                                        <thead style="background-color: #000000; color: #ffffff; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                            <tr>
                                                                <th style="padding: 10px;" colspan="2">
                                                                    <span style="font-weight: normal;">Produit</span>
                                                                </th>
                                                                <th style="padding: 10px;" width="110">
                                                                    <span style="font-weight: normal;">Prix unitaire</span>
                                                                </th>
                                                                <th style="padding: 10px;">
                                                                    <span style="font-weight: normal;">Quantité</span>
                                                                </th>
                                                                <th style="padding: 10px;">
                                                                    <span style="font-weight: normal;">Raison du retour</span>
                                                                </th>
                                                                <th style="padding: 10px;" width="110">
                                                                    <span style="font-weight: normal;text-align:right;">Sous-total</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--{% for item in OrderReturn.Items%}-->
                                                            <tr>
                                                                <!--<td style="border-bottom: 1px solid #e1e4ea; padding: 20px 0;"><img src="{{item.ImageURL}}" width="76" alt="product-image" style="display: block;" /></td>-->
                                                                <td style="padding: 20px 0px 20px 10px; text-align: left; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;"
                                                                    colspan="2">
                                                                    <strong>{{item.ProductDisplayName}}</strong> <br />
                                                                    <!--{% for kva in item.KvaDisplayValues%}-->
                                                                    <span>{{kva}}</span><br />
                                                                    <!--{% endfor %}-->
                                                                </td>
                                                                <td style="padding: 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                                    <strong>{{item.ProductPrice | money:templateCulture }}</strong>
                                                                </td>
                                                                <td style="padding: 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                                    <strong>{{item.Quantity}}</strong>
                                                                </td>

                                                                <td style="padding: 20px 10px 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;">
                                                                    <strong>{{item.Reason | localize_lookup: "order", "OrderReturnReasons", templateCulture}}</strong>
                                                                </td>
                                                                <td style="padding: 20px 10px 20px 0px; border-bottom-color: #e1e4ea; border-bottom-width: 1px; border-bottom-style: solid;text-align:right;">
                                                                    <strong>{{item.SubTotal | money:templateCulture }}</strong>
                                                                </td>
                                                            </tr>
                                                            <!--{% endfor %}-->
                                                        </tbody>
                                                        <tfoot style="text-align: right;">
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                                    colspan="2">
                                                                    <span style="text-transform: none;">
                                                                        Total de la marchandise :
                                                                    </span>
                                                                </td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                                    <strong>{{ OrderReturn.TotalMerchandise | money:templateCulture }}</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                                    colspan="2">
                                                                    <span style="text-transform: none;">Rabais :</span>
                                                                </td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                                    <strong>{{ OrderReturn.TotalDiscount | money:templateCulture }}</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                                    colspan="2">
                                                                    Sous-total :
                                                                </td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                                    <strong>{{ OrderReturn.TotalSubtotal | money:templateCulture }}</strong>
                                                                </td>
                                                            </tr>
                                                            <!--{% for additionalFee in OrderReturn.AggregatedAdditionalFees %}-->
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="line-height: 20px; text-align: left;" colspan="2">{{additionalFee.DisplayName | localize:templateCulture, additionalFee.Name}}:</td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1"><strong>{{additionalFee.TotalAmount| money:templateCulture }}</strong></td>
                                                            </tr>
                                                            <!--{% endfor %} -->
                                                            <!--{% for tax in OrderReturn.AggregatedTaxes %}-->
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="line-height: 20px; text-align: left;" colspan="2">{{ tax.DisplayName| localize:templateCulture}}:</td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1"><strong>{{ tax.TaxTotal | money:templateCulture }}</strong></td>
                                                            </tr>
                                                            <!--{% endfor %} -->
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                                    colspan="2">
                                                                    Total des taxes :
                                                                </td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                                    <strong>{{ OrderReturn.TotalTax | money:templateCulture }}</strong>
                                                                </td>
                                                            </tr>
                                                            <!--{% if OrderReturn.TotalAdjustment != 0 and OrderReturn.TotalAdjustment != null and  OrderReturn.TotalAdjustment !='' %} -->
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="line-height: 20px; text-align: left;" colspan="2">Montant de l'ajustement:</td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1"><strong>{{ OrderReturn.TotalAdjustment | money:templateCulture }}</strong></td>
                                                            </tr>
                                                            <!--{% endif %}-->
                                                            <tr>
                                                                <td colspan="3">&nbsp;</td>
                                                                <td style="text-transform: uppercase; line-height: 20px; text-align: left;"
                                                                    colspan="2">
                                                                    <strong style="font-size: 18px;">Montant de la requête de retour :</strong>
                                                                </td>
                                                                <td style="line-height: 20px; padding: 5px 10px 5px 0px;" colspan="1">
                                                                    <strong style="font-size: 18px;">
                                                                        {{ OrderReturn.SubTotal | money:templateCulture}}
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- //// -->




                        </tbody>
                        <!-- footer -->
                        <tfoot style="background-color: #ffffff;">
                            <tr>
                                <td style="padding: 15px 20px; border-bottom-color: #eaeaea; border-bottom-width: 1px; border-bottom-style: solid;">
                                    <p>Veuillez ne pas répondre à ce courriel. Il a été envoyé à partir d'une adresse qui n'accepte pas les courriels. P</p>
                                    <p style="font-size: 12px;">&copy; Droits d'auteur {{Variables.CopyrightsYear}} {{Variables.CompanyName}} Tous droits réservés. </p>
                            </tr>

                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>